.Toolbar{
    padding: 0px 150px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.SearchBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 2px 10px;
    margin-left: 5px;
    border-radius: 2px;
}

.SearchBar input{
   border: 0px;
   width: 400px;
   outline: none;
}

.LogoAndSearchBarContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SearchIcons{
    cursor: pointer;
}